body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.gameboard-container > .cell {
    border: 0.5px solid darkgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.388);
}

.gameboard-container > .cell:hover {
    cursor: pointer;
}

button {
    margin-top: 15px;
    border-radius: 6px;
    font-family: inherit;
    width: 120px;
    height: 40px;
    background-color: rgba(255, 228, 196, 0.888);
    font-size: 17px;
}